.intro-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.intro-subtitle > a {
  text-decoration: none;
}


.clickview {
  font-size: 1.7rem;
  font-weight: 500;
}

.clickview > a {
  text-decoration: none;
  color: #2eca6a !important;
  margin-left: 1rem;
}


.carouselslidetext {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.price-a {
  color: #ffffff;
  padding: 0.6rem 0.8rem;
  border: 3px solid #2eca6a;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.emojis{
  margin-left: 120px;
}

.card-box-ico {
  padding: 1rem 3rem 1rem 2.5rem;
  border: 5px solid #2eca6a;
}

.card-box-ico span {
  font-size: 3rem;
  color: #000000;
}

.title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;
  text-decoration: none !important;
  color: #313131;
}

.title-link a {
  text-decoration: none;
  color: #313131;
}

.title-link span {
  font-size: 20px;
  padding-left: 4px;
  vertical-align: middle;
}

.socials-a {
  text-decoration: none;
}

.socials-a .list-inline-item:not(:last-child) {
  margin-right: 25px;
}

.card-box-d .list-inline-item:not(:last-child) {
  margin-right: 25px;
}

.item-list-a > a {
  text-decoration: none;
  color: black;
}

/*  */
.item{
  width: 350px;
  height: 350px;
  background-color: white;
  position: relative;
  display: inline-block;
  margin: 1% 2% 1% 0%;
  overflow: hidden;
  box-shadow: 2px 3px 10px #444444;
}

.arrowAll {
  margin-bottom: 5px;
}

.title-a {
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: 600;
}

.title-c {
  font-size: 2.5rem;
}

.latest-header {
  font-weight: 600;
  font-size: 20px;
}

.blog-header {
  font-weight: 600;
  font-size: 15px;
}

.price-latest {
  color: #ffffff;
  padding: 0.3rem 0.3rem;
  border: 3px solid #2eca6a;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.tolatest > a {
  text-decoration: none;
}

.genre-header {
  font-size: 0.9rem;
  background-color: #2eca6a;
  width: 6rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
  color: #313131;
  letter-spacing: 0.03em;
  border-radius: 50px;
  text-decoration: none;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/* image zoom in */
.home-img {
  transition: 0.7s;
  width: 100%;
  height: 100%; 
  filter: brightness(0.45);
}

.home-img:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
}

/* end of image zoom in */
.clicktoview > a {
  text-decoration: none;
  color: #2eca6a;
}

@media screen and (max-width: 600px) {
  .intro-subtitle {
    font-size: 0.9rem;
    font-weight: 500;
  }
}