@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

body {
  font-family: Poppins;
}

.navbar {
  background-color: white;
}

.scroll {
  background-color: green;
}

.navLogo {
  font-size: 2rem !important;
  font-weight: 600 !important;
}

.navLogo:hover {
  color: #2eca6a !important;
  transition: 0.3s color;
}

.navLogoFirst {
  color: black;
}

.navLogoSecond {
  color: #2eca6a !important;
}

#nav-linkk {
  font-weight: 700 !important;
  font-size: 1.3rem;
  color:black;
}

#nav-linkk:hover {
  color:rgb(75, 71, 71) !important;
}

#nav-linkk::after {
  content: '' !important;
    display: block !important;
    width: 0 !important;
    height: 4px !important;
    background: #2eca6a !important;
}

#nav-linkk:hover:after {
  width: 100% !important;
  transition: width .3s !important;
}

.footertext > li > a {
  text-decoration: none;
  color: black;
}

.active {
  color:#2eca6a !important;
}

@media screen and (min-width: 768px) {
  .giveTopPadding {
    padding: 15px 75px 15px 75px !important;
  }
}