.card-block {
  min-height: 215px;
  border-radius: 4% !important;
}

.viewLikedPost {
  width: 7rem;
  border: 2px solid #159957;
  background: #159957;
  color: white !important;
  border-radius: 10%;
  padding: 5px;
  transition: all 1s;
}

.viewLikedPost:hover {
  background: white;
  color: #159957 !important;
  transition: all 0.5s;
}

@media screen and (max-width: 540px) {
  .thelikecards {
    width: 57rem !important;
  }
}