.first-header {
  height: 13rem;
  width: 19rem;
  background: #c0392b;
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
  background: linear-gradient(to right, #8e44ad, #c0392b); 
}

.second-header {
  height: 13rem;
  width: 19rem;
  background: #8E2DE2;
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.third-header {
  height: 13rem;
  width: 19rem;
  background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
}

@media only screen and (max-width: 600px) {
  #admincontainer {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }

  #adminheader {
    margin: 2px !important;
  }
}

@media (min-width: 641px) and (max-width: 840px) {
  #adminheader {
    margin-right: 5px !important;
    max-width: 15rem !important;
  }

  .therounded {
    width: 55% !important;
  }
  
  #adminicon {
    margin-left: -8px !important;
  }
}

@media (min-width: 600px) and (max-width: 640px) {
  #adminheader {
    margin: 5px;
  }

  .third-header {
    width: 11.3rem;
  }

  #adminicon {
    margin-left: -15px;
  }
}