.view-property-img {
  max-height: 40rem;
}

.noflow {
  overflow: hidden !important;
}

.viewicons {
  width: 13rem; 
  height: 4rem; 
  margin-left:-3rem; 
}

.buttonLike {
  margin-top: -8px ;
}

.agentcol {
  margin-left: 2rem;
}

.comment-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.theviewicons {
  margin-right: 45px;
  margin-left: 108px;
}

.viewsubicons {
  padding-right: 10px;
}

.undericons {
  width: 50rem !important;
}

.likebtn:focus {
  outline: none !important;
  outline-offset: none !important;
}

.viewwrappericons {
  padding-left: 97px;
}

.priceandcity {
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.likescountview {
  margin-left: -43px;
}

/* media queries starts */

@media  only screen and (max-width: 300px) { 
  .contactdetials {
    font-size: 10px !important;
    margin-left: 2px;
  }

  .agentcol {
    margin-left: 0px !important;
    margin-top: 1rem !important;
  }

  .view-property-img {
    height: 15rem;
    width: 15rem;
    margin-top: 10px;
  }

  .item {
    width: 260px;
  }

  .price-a {
    font-size: 15px;
  }

  .firsttopcarouseltext {
    font-size: 38px !important;
  }

  .title-c {
    font-size: 1.65rem;
  }

  .first-header, .second-header, .third-header {
    width: 16rem;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  .view-property-img {
    height: 20rem;
    width: 20rem;
    margin-top: 10px;
  }

  .iconstop {
    display: flex;
  }


  .firsticon {
    margin-left: 2rem !important;
  }

  .agentcol {
    margin-left: 0px !important;
    margin-top: 1rem !important;
  }

  .contactdetials {
    margin-left: -2rem !important;
  }
}

@media (min-width: 640px) and (max-width: 840px) {
  .view-property-img {
    width: 100% !important;
  }

  .agentcol {
    margin-left: 0px !important;
    margin-top: 1rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .agentimg{
    width: 99px !important;
    height: 118px;
  }
}